<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'nama_file.css' %}"> -->
    <title>Web Calculator</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="{% static 'calculator.png' %}" alt="calculator" height="10%" width="10%">
        <br>
        <h2>Additions</h2>
        <form action="/calculate/" method="post">
            {% csrf_token %}
            <label for="num1">First number :</label><br>
            <input type="number" id="num1" name="num1" style="width: 50px;" value="0"><br>
            <label for="num2">Second number :</label><br>
            <input type="number" id="num2" name="num2" style="width: 50px;" value="0">
            <br><br>
            <input type="submit" value="Add">
          </form>
          <br>
          <!-- <h3>Answer = </h3> -->
    </div>
    
</body>
</html>