<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body style="text-align: center;">
    <h2>The Answer is :</h2>
    <h3 style="font-size: 50px;">{{answer}}</h3>
    <br>
    <br>
    <a href="{% url 'index:index' %}">go back</a>
</body>
</html>